
<%- include("header") -%>

<body>
  <div class="box" id="heading">
    <h1><%= listTitle %> Todo List</h1>
  </div>


  <div class="box">

    <ul>
      <% for(var i=0;i<addedNewItem.length;i++){ %>
      <div class="item">
        <input type="checkbox">
        <p><%= addedNewItem[i] %></p>
      </div>
      <% } %>
    </ul>

    <form class="item" action="/" method="post">
      <input type="text" name="item" placeholder="Add New Item" autocomplete="off">
      <button type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>

  </div>


</body>
<%- include("footer") -%>
